# Get stock data:

In [76]:
import yfinance as yf 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
data = yf.download('AAPL','2017-01-01','2022-06-01')
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.257641  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.227133   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.365595   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.670677  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.924124  134247600

In [78]:
df = data.resample('1q', label='right').last()

df 
#resample the data to quarterly data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-03-31,35.930000,36.067501,35.752499,35.915001,33.859753,78646800
2017-06-30,36.112499,36.240002,35.945000,36.005001,34.084709,92096400
2017-09-30,38.302502,38.532501,38.000000,38.529999,36.618275,105199200
2017-12-31,42.630001,42.647499,42.305000,42.307499,40.352890,103999600
2018-03-31,41.952499,42.937500,41.724998,41.945000,40.170261,153594000
2018-06-30,46.572498,46.797501,45.727501,46.277500,44.490345,90950800
2018-09-30,56.197498,56.459999,56.005001,56.435001,54.445869,91717600
2018-12-31,39.632500,39.840000,39.119999,39.435001,38.177799,140014000
2019-03-31,47.457500,47.520000,47.134998,47.487499,46.170761,94256000
2019-06-30,49.669998,49.875000,49.262501,49.480000,48.293270,124442400
2019-09-30,55.224998,56.145000,55.197498,55.992500,54.857220,103909600
2019-12-31,72.482498,73.419998,72.379997,73.412498,72.139954,100805600
2020-03-31,63.900002,65.622498,63.000000,63.572498,62.618782,197002000
2020-06-30,90.019997,91.495003,90.000000,91.199997,90.074982,140223200
2020-09-30,113.790001,117.260002,113.620003,115.809998,114.587631,142675200
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.515961,99116600
2021-03-31,121.650002,123.519997,121.150002,122.150002,121.250145,118323800
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400
2021-09-30,143.660004,144.380005,141.279999,141.500000,140.906967,89056700
2021-12-31,178.089996,179.229996,177.259995,177.570007,177.083878,64062300
2022-03-31,177.839996,178.029999,174.399994,174.610001,174.353836,103049300
2022-06-30,149.070007,150.660004,146.839996,148.839996,148.839996,103718400

In [79]:
df.describe().round(2)

         Open    High     Low   Close  Adj Close        Volume
count   22.00   22.00   22.00   22.00      22.00  2.200000e+01
mean    85.02   85.86   84.26   84.91      83.69  1.090964e+08
std     49.37   49.73   48.73   48.97      49.46  3.084561e+07
min     35.93   36.07   35.75   35.92      33.86  6.326140e+07
25%     43.62   43.90   43.16   43.30      41.39  9.181230e+07
50%     60.05   61.04   59.50   60.00      58.74  1.033838e+08
75%    130.97  131.94  129.08  130.06     128.95  1.229128e+08
max    178.09  179.23  177.26  177.57     177.08  1.970020e+08

# Calculate returns:

In [81]:
adj_close = df['Adj Close']
#adj_close
df = adj_close
df

Date
2017-03-31     33.859753
2017-06-30     34.084709
2017-09-30     36.618275
2017-12-31     40.352890
2018-03-31     40.170261
2018-06-30     44.490345
2018-09-30     54.445869
2018-12-31     38.177799
2019-03-31     46.170761
2019-06-30     48.293270
2019-09-30     54.857220
2019-12-31     72.139954
2020-03-31     62.618782
2020-06-30     90.074982
2020-09-30    114.587631
2020-12-31    131.515961
2021-03-31    121.250145
2021-06-30    136.181961
2021-09-30    140.906967
2021-12-31    177.083878
2022-03-31    174.353836
2022-06-30    148.839996
Freq: Q-DEC, Name: Adj Close, dtype: float64

In [82]:
df.to_excel('AAPL_ADJ_Close.xlsx')

In [83]:
abs_dif = adj_close.diff()
df= abs_dif
df

Date
2017-03-31          NaN
2017-06-30     0.224957
2017-09-30     2.533566
2017-12-31     3.734615
2018-03-31    -0.182629
2018-06-30     4.320084
2018-09-30     9.955524
2018-12-31   -16.268070
2019-03-31     7.992962
2019-06-30     2.122509
2019-09-30     6.563950
2019-12-31    17.282734
2020-03-31    -9.521172
2020-06-30    27.456200
2020-09-30    24.512650
2020-12-31    16.928329
2021-03-31   -10.265816
2021-06-30    14.931816
2021-09-30     4.725006
2021-12-31    36.176910
2022-03-31    -2.730042
2022-06-30   -25.513840
Freq: Q-DEC, Name: Adj Close, dtype: float64

In [84]:
df.to_excel('AAPL_Absolute_change.xlsx')

In [85]:
pct_change = abs_dif.pct_change().round(4)

df= pct_change
df
#percentage returns

Date
2017-03-31        NaN
2017-06-30        NaN
2017-09-30    10.2625
2017-12-31     0.4741
2018-03-31    -1.0489
2018-06-30   -24.6550
2018-09-30     1.3045
2018-12-31    -2.6341
2019-03-31    -1.4913
2019-06-30    -0.7345
2019-09-30     2.0925
2019-12-31     1.6330
2020-03-31    -1.5509
2020-06-30    -3.8837
2020-09-30    -0.1072
2020-12-31    -0.3094
2021-03-31    -1.6064
2021-06-30    -2.4545
2021-09-30    -0.6836
2021-12-31     6.6565
2022-03-31    -1.0755
2022-06-30     8.3456
Freq: Q-DEC, Name: Adj Close, dtype: float64

In [86]:
df.to_excel('AAPL_Perc_change.xlsx')

In [87]:
rets = np.log(adj_close / adj_close.shift(1))
#rets.round(4)
df = rets.round(4)

df
#log returns

Date
2017-03-31       NaN
2017-06-30    0.0066
2017-09-30    0.0717
2017-12-31    0.0971
2018-03-31   -0.0045
2018-06-30    0.1021
2018-09-30    0.2019
2018-12-31   -0.3550
2019-03-31    0.1901
2019-06-30    0.0449
2019-09-30    0.1274
2019-12-31    0.2739
2020-03-31   -0.1415
2020-06-30    0.3636
2020-09-30    0.2407
2020-12-31    0.1378
2021-03-31   -0.0813
2021-06-30    0.1161
2021-09-30    0.0341
2021-12-31    0.2285
2022-03-31   -0.0155
2022-06-30   -0.1582
Freq: Q-DEC, Name: Adj Close, dtype: float64

In [88]:
df.to_excel('AAPL_Log_Ret.xlsx')